<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:batch="http://www.springframework.org/schema/batch" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/batch http://www.springframework.org/schema/batch/spring-batch-3.0.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">



	<context:property-placeholder location="classpath:queries/queries.xml" />

	<import resource="classpath:context-datasource.xml" />
	<bean id="jobRepository"
		class="org.springframework.batch.core.repository.support.MapJobRepositoryFactoryBean" />

	<bean id="jobLauncher1"
		class="org.springframework.batch.core.launch.support.SimpleJobLauncher">
		<property name="jobRepository" ref="jobRepository" />
	</bean>
	<bean id="userValidator"
		class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean" />


	<!-- Reader - used by the tasklet to process one Item from the input. -->
	<bean id="userReader"
		class="org.springframework.batch.item.database.JdbcCursorItemReader"
		scope="step">
		<property name="dataSource" ref="dataSource" />
		<property name="sql" value="${user.select}" />
		<property name="preparedStatementSetter">
			<bean class="me.ahmed.batch.tools.ParameterSetter">
				<constructor-arg value="#{jobParameters['codeBanque']}" />
			</bean>
		</property>
		<property name="rowMapper">
			<bean class="me.ahmed.batch.mapper.UserMapper" />
		</property>
	</bean>

	<!-- Processor -->

	<bean id="itemProcessor" class="me.ahmed.batch.processor.UserItemProcessor">
		<property name="validator" ref="userValidator" />
	</bean>
	<!-- Writer -->
	<bean id="userHeaderFooterWriter" class="me.ahmed.batch.writer.UserWriter">
		<property name="delegate" ref="userWriter" />
	</bean>

	<bean id="userWriter" class="org.springframework.batch.item.file.FlatFileItemWriter"
		scope="step">
		<property name="resource" value="#{jobParameters['inputDataFile']}" />
		<property name="lineAggregator">
			<bean
				class="org.springframework.batch.item.file.transform.DelimitedLineAggregator">
				<property name="delimiter" value="," />
				<property name="fieldExtractor">
					<bean
						class="org.springframework.batch.item.file.transform.BeanWrapperFieldExtractor">
						<property name="names"
							value="id,username,codeBanque,email,firstname,lastname,version,statut,creationDate" />

					</bean>
				</property>
			</bean>
		</property>
		<property name="headerCallback" ref="userHeaderFooterWriter" />
		<property name="footerCallback" ref="userHeaderFooterWriter" />
	</bean>

	<bean id="jobListener" class="me.ahmed.batch.listener.UserJobListener" />
	<bean id="logListener" class="me.ahmed.batch.listener.ItemFailureLoggerListener" />
	<bean id="userSkipListener" class="me.ahmed.batch.listener.UserSkippedListener" />

	<bean name="helloWorldTasklet" class="me.ahmed.batch.tasklet.HelloWorldTasklet" />

	<batch:job id="baseJob" abstract="true">
		<batch:listeners>
			<batch:listener ref="logListener" />
		</batch:listeners>
	</batch:job>

	<!-- Actual Job -->
	<batch:job id="userJob1" parent="baseJob" restartable="false">
		<batch:step id="step1" next="step2">
			<batch:tasklet ref="helloWorldTasklet" />
		</batch:step>
		<batch:step id="step2">
			<batch:tasklet transaction-manager="transactionManager">
				<batch:chunk reader="userReader" writer="userWriter"
					processor="itemProcessor" commit-interval="${user.commit-interval}"
					skip-limit="200">
					<batch:skippable-exception-classes>
						<batch:include class="java.lang.Exception" />
					</batch:skippable-exception-classes>
				</batch:chunk>
				<batch:listeners merge="true">
					<batch:listener ref="userSkipListener" />
				</batch:listeners>

				<batch:transaction-attributes
					isolation="READ_COMMITTED" propagation="REQUIRED" />

			</batch:tasklet>
		</batch:step>

		<batch:listeners merge="true">
			<batch:listener ref="jobListener" />
			<batch:listener ref="userSkipListener" />
		</batch:listeners>
	</batch:job>

	<!-- To run the job from the command line type the following: mvn exec:java 
		-Dexec.mainClass=org.springframework.batch.core.launch.support.CommandLineJobRunner 
		-Dexec.args="simpleJob.xml helloWorldJob" -->
</beans>